@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
#my-blogs{
    background-color: #443C68;
    /* border: 2px dotted white; */
    padding: 30px;
}
.blogs-container{
    overflow: scroll;
    width:100vw;
    height: 100vh;
    text-align: left;

}

.blog-question{
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.blog-answer{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-weight: 400;
    /* font-style: italic; */
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
}