@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.webiste-image{
    transition: 0.6s;
}
.webiste-image:hover{

position: relative;
width: 500px;
height: 500px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border:1px solid white;
}
@media screen and (max-width:667px){
    .webiste-image:hover{
        width: 400px;
        height: 400px;
    }
    
}
@media screen and (max-width:400px){
    .webiste-image:hover{
        width: 300px;
        height: 300px;
    }
    
}
.website-details-list{
text-align: left;
font-size: 16px;
margin-left:20px;
font-family: 'Outfit', sans-serif;
}